body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }

.container {
  width: 100%;
}

.card {
  width: 100%;
  max-width: 40rem;
  background-color: darkgray;
  border-radius: 5px;
}
.avatar-container {
  text-align: center;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-box{
  display: flex;
  align-items: center;
}

#avatar-placeholder {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 8px auto;
  
}

#avatar {
  width: 200px;
  height: 200px;
  background-color: gray;
  border: 5px solid black;
  border-radius: 5%;

}

#Dio {
  text-align: start;
}



.answer-item {
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #ffa500;
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#answerInput {
  padding: 8px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 5px;  
  background-color: #ffa500;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

#answerInput:hover,
#answerInput:focus {
  border-color: #ffa500;
}

#nextbutton {
  padding: 8px 16px;
  background-color: #FF8C00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 16px;
  

}

#nextbutton:hover {
  background-color: #ffa500; 
}

/* CSS talk bubble */
.box {
  
  width: 300px;
  margin: 48px auto;
  border-radius: 15px;
  background: #ffa500;
  color: black;
  padding: 16px;
  text-align: center;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 25px;
}

.n1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #ffa500;
  border-top: 15px solid #ffa500;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.it-container {
  padding: 104px;
}

.itinerary-container {
  max-width: 1000px;
  margin: auto;
  padding: 16px;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333;
  color: #fff;
}

#createIt a {
  text-decoration: none;
}

.back-button {
  padding: 8px 16px;
  background-color: #FF8C00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  display: inline-block; /* Ensures the link behaves like a block element */
}

.back-button:hover {
  background-color: #ffa500;
  color: white;
}

.save-button {
  padding: 8px 16px;
  background-color: #FF8C00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 16px;
  transition: background-color 0.3s ease-in-out;
}

.save-button:hover {
  background-color: #ffa500;
}

.save-button:active {
  background-color: #FF8C00;
}

/* CSS answer AI */
.answer-card {
  position: relative;
  width: 100%;
  max-height: 400px;
  display: flex;
}


.answer-box {
  position: relative;
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  margin: 16px auto;
  padding: 16px;
  border-radius: 10px;
  background-color: gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#generated-itinerary {
  margin-top: 16px;
  width: 100%;
  max-width: 600px;
  background-color: #ffa500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.generated-itinerary h2 {
  font-size: 1.75rem;
  margin-bottom: 16px;
  background-color: #FF8C00;
  color: black;
  border-radius: 5px;
  
}

.generated-itinerary h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  padding: 8px;
  background-color: #FF8C00;
  color: white;
  max-width: 65px;
  width: 100%;
  border-radius: 5px;
}

.generated-itinerary .day-divider {
  border-top: 2px solid black;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0px;
  
}

.days {
  display: flex;
  justify-content: center;
  color: white;
}

.object {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: black;
  background-color: #FF8C00;
  padding: 8px;
  border-radius: 2px;
  
}

.object strong {
  
  width: 100%;
  display: flex;
  flex-direction: column;
}

.generated-itinerary ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.generated-itinerary li {
  margin-bottom: 8px;
}

.mapped {
  background-color: #FF8C00;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.toaster {
  position: fixed;
  top: 22%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cog {
  height: 32px;
  width: 32px;
}